@model string
<div class="mb-3">
    <label class="form-label" asp-for="@Model"></label>
    <input class="form-control" type="text" asp-for="@Model">
    <span asp-validation-for="@Model"></span>
</div>